@use '../util' as *;

.bg-pattern {
  background-image: url("/images/pattern-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 50vh;
  padding: rem(25);
}
.slides {
  position: relative;
  overflow: hidden;
  width: rem(200);
  height: rem(225);
  border-radius: rem(8);
  margin: 0 auto;
}
.slide-container {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: all 0.25s ease-in-out;
  img {
    width: auto;
    height: 100%;
  }
}
// .slide-container:nth-child(1) {
//   left: 0;
// }
// .slide-container:nth-child(2) {
//   left: 100%;
// }
// //This is for the slider to move
// .slide-container {
//   transform: translateX(-100%);
// }
.wrapper {
  display: flex;
  flex-direction: column;
}
.profile {
  position: relative;
}
.nav-buttons {
  position: absolute;
  bottom: rem(-20);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: rem(10);
  border-radius: rem(30);
  box-shadow: 3px 10px 25px 0px rgba(0, 0, 0, 0.3);
  width: rem(80);
  img {
    width: rem(15);
    height: rem(15);
  }
}
.testimonial {
  height: 50vh;
  padding: rem(25);
  position: relative;
}

.slides-text {
  position: relative;
  height: rem(300);
  width: rem(300);
  overflow: hidden;
}

.text {
  position: absolute;
  background-image: url(/images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-size: rem(75) auto;
  background-position: top center;
  max-width: 90%;
  // margin: rem(15) auto 0;
  // padding: rem(20) rem(25);
  text-align: center;

  .name {
    font-size: rem(16);
    font-weight: 700;
    margin-bottom: rem(0);
  }
  .job {
    margin: rem(5) 0;
    font-weight: 500;
    color: var(--grayish-blue);
  }
}
.wave {
  img {
    width: rem(250);
    height: auto;
  }
}
